// Safari Fix https://getbootstrap.com/getting-started/#support-printing
@import all/_paths.sass

.container
  width: auto !important

.sprite-bubble,
#top-nav,
#footer-nav,
.breadcrumbs
  display: none !important

#masthead,
.sprite-tactical-tech-logo,
.sprite-frontline-defenders-logo
  background: none
  background-image: none

#masthead:before
  content: url('#{$images}/siab-header-for-print.png')

.sprite-tactical-tech-logo:before
  content: url('#{$images}/tactical-tech-logo.png')

.sprite-frontline-defenders-logo:before
  content: url('#{$images}/frontline-defenders-logo.png')
