@import ../all/_grid.sass

body
  direction: rtl

.bread crumbs
  padding: 0

.author,.posted
  span
    margin-right: 4px


// ***********************************************************
   GRID

.col-md-8
  float: right

.col-md-4
  float: left


// ***********************************************************
   NAVIGATION

#top-nav

  .navbar-toggler
      margin-left: auto

  .menu-main
    margin-right: initial

    .navbar-nav
      padding-right: 0

    .dropdown-menu
      right: 0
      left: auto

  .menu-wrapper
    margin-right: auto

    .navbar-nav
      padding-right: 0

    .dropdown-menu
      right: auto
      left: 0

  .dropdown-item
    text-align: right

// ***********************************************************
   FOOTER

#footer-nav li
  text-align: right

#footer-nav
  padding: 0

// ************************************************************
   SPRITES

.sprite-tactical-tech-logo
  margin-left: $gutter
  margin-right: 0

.sprite-creative-commons
  margin-left: calc($gutter / 2)
  margin-right: 0

// *************************************************************
    ANCHOR JS

.anchorjs-link
  padding-right: 0
  right: -5px
