extends ../../main.pug
include ../../mixins-and-helpers.pug

block content

  .col-lg-8
    main#content
      h1= title
      case status
        when "draft": h2.unmaintainedalert= __('This guide is a work in progress')
        when "unmaintained": h2.unmaintainedalert= __('This guide is no longer being maintained')
        when "out-of-date": h2.unmaintainedalert= __('This guide is out-of-date')
      != contents

    +get_list_as_block(locale, 'topic', 'phones-and-computers', __('Protect Your Phones & Computers'))

  aside.col-lg-4
