$beige:         #FFF8ED
$grey:          #C9D0CE
$blue:          #97E5E8
$salmon:        #FFA178
$green:         #65BAAD
$red:           #E85412
$bright-green:  #7EB438
$yellow:        #FFD685
$purple:        #D4ADBD
$purple-blue:   #A8B8CC
$sub-blue:      #97BDE8
$white:         #FFFFFF
$black:         #000000

$border-color:  #E7E7E7

//
  default site color is green
#header
  background-color: $green
html, #footer
  background-color: $grey
