@import _paths.sass
@import _colors.sass
@import _grid.sass


// ****************************************************************
   HELPERS

.invisible
  display: none

.inline
  display: inline-block

.right
  float: right
  width: auto

.loading
  background: url('#{$images}/loading.gif') 50% 50% no-repeat


// *****************************************************************
   POST INFORMATION

a.read-more
  @extend .inline
  color: $bright-green !important
  font-size: 80%
  text-align: right
  text-decoration: none
  width: 100%

.see-all
  color: $bright-green !important
  text-decoration: none
  text-transform: uppercase
  width: 100%

.blog-heading
  text-transform: uppercase
  text-decoration: underline

.post
  margin-bottom: 75px

.post .thumbnail
  padding-bottom: 10px

.post .title
  text-decoration: none

.post .title:hover
  text-decoration: underline

.posted, .author
  color: $bright-green
  font-size: 80%
  span
    margin-left: 4px

.tools .posted
  color: #000
  font-size: 80%

.tactics .posted
  color: #000
  font-size: 80%


// ******************************************************************
  PREPROCESSED ELEMENTS

  The preprocess-wrapper is used to toggle .invisible class using JQuery for empty preprocessed elements
.preprocess-wrapper
  display: block
  padding: $gutter

.snippet .preprocess-wrapper
  background-color: $salmon

.tool-metadata .preprocess-wrapper
  background-color: $blue


// ******************************************************************
  TABLE OF CONTENTS

.toc-invisible
  background-color: transparent !important
  @extend .loading
  h2
    display: none

#toc
  background-color: $salmon
  margin: $gutter 0
  padding: calc($gutter / 4) $gutter calc($gutter / 2) $gutter

  ul
    padding: 0 24px

  li
    a
      text-decoration: none

  li.active
    a
      color: $red

  li:hover
    a
      color: #FFF
      background-color: transparent


// ******************************************************************
  TABLE OF CONTENTS MODAL

#toc-modal-trigger
  border: 2px solid black
  border-radius: 6px
  background-color: $salmon
  display: none
  padding: 3px 8px 6px !important
  position: fixed
  right: $gutter

  .icon-bar
    border-radius: 1px
    background-color: #000
    display: block
    margin-top: 4px
    height: 2px
    width: 22px

#toc-modal-trigger:hover
  background-color: $green

#toc-modal

  #toc
    margin: 0

  .modal-body, .modal-header, .modal-footer
    background-color: $salmon

  .modal-footer
    button
      background-color: $white


// *******************************************************************
  SCROLL TOP BUTTON

#scroll-top
  bottom: 24px
  right: 24px
  display: none
  position: fixed
  background-color: $blue
  border-radius: 50%
  cursor: pointer
  height: 38px
  width: 38px
  border: 2px solid #000
  font-size: 145%
  text-align: center

#scroll-top:hover
  background-color: $green


// *****************************************************************
  TABLES

table
  margin: $gutter 0

table, tr, td, th
  border: 1px solid #000

td, th
  padding: calc($gutter / 2)


// *****************************************************************
   BLOG

.blog section
  border-bottom: 1px solid #e7e7e7


// *****************************************************************
   BREADCRUMBS

.breadcrumbs
  padding-left: 0

  li
    display: inline-block
    list-style-type: none
    margin-right: calc($gutter / 4)
    width: auto
  li:before
    content: '› '

  a
    font-size: 80%
    text-decoration: none


// *****************************************************************
   UNMAINTAINED GUIDE NOTIFICATIONS

.unmaintainedalert
  color: $red
