@import _grid.sass

#footer
  font-size: 90%
  padding-bottom: $gutter !important

  .col-md-3
    padding: $gutter 0

  .sprite-bubble
    margin: 0

#footer-nav
  text-align: right
  li
    display: inline-block
    list-style-type: none
    margin-left: $gutter
    a
      text-decoration: none
    a:hover
      text-decoration: underline
