
// ************************************************************************************
   THE GRID

// number of columns is 12
$column-width:  68px
$gutter:        16px
//
  $site-width:  992px
$content-width: 1012px

$col-1-width:         $column-width +      $gutter
$col-2-width:   2  *  $column-width + 2  * $gutter
$col-3-width:   3  *  $column-width + 3  * $gutter
$col-4-width:   4  *  $column-width + 4  * $gutter
$col-5-width:   5  *  $column-width + 5  * $gutter
$col-6-width:   6  *  $column-width + 6  * $gutter
$col-7-width:   7  *  $column-width + 7  * $gutter
$col-8-width:   8  *  $column-width + 8  * $gutter
$col-9-width:   9  *  $column-width + 9  * $gutter
$col-10-width:  10 *  $column-width + 10 * $gutter
$col-11-width:  11 *  $column-width + 11 * $gutter
$col-12-width:  12 *  $column-width + 12 * $gutter

.col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12
  margin: 0
  padding: $gutter

.col-lg-1
  max-width: $col-1-width

.col-lg-2
  max-width: $col-2-width

.col-lg-3
  max-width: $col-3-width

.col-lg-4
  max-width: $col-4-width

.col-lg-5
  max-width: $col-5-width

.col-lg-6
  max-width: $col-6-width

.col-lg-7
  max-width: $col-7-width

.col-lg-8
  max-width: $col-8-width

.col-lg-9
  max-width: $col-9-width

.col-lg-10
  max-width: $col-10-width

.col-lg-11
  max-width: $col-11-width

.col-lg-12
  max-width: $col-12-width
  padding: 0

#header-nav.col-lg-3
  max-width: 100%

.first
  padding-left: 0
.last
  padding-right: 0

.container
  padding-left: 0
  padding-right: 0
  max-width: $content-width

.row
  margin-left: 0
  margin-right: 0

#footer
  padding: 0 calc($gutter * 2)

#content
  margin: calc($gutter * 2) 0

.tools, .tactics
  #content
    padding: 0 calc($gutter * 2)

.blog #content
  padding: 0
