
@import _grid.sass
@import _colors.sass

// ******************************************************************
   General header styles

#masthead
  padding: 0

#header-nav
  padding: 0

#header .row
  padding: calc($gutter / 2) 0

.site-name
  a
    text-decoration: none !important

  a:hover
    text-decoration: underline !important

// ******************************************************************
   Navigation bar

#top-nav
  border-bottom: 1px solid $border-color !important
  font-size: 90%
  margin: auto 20px

  #menu-site
    max-width: 100%

  .navbar-brand
    margin: 0
    padding: 0

  .menu-main
    margin-right: auto

  li > a
    color: $black

  li > a:hover
    text-decoration: none !important
    color: $white

  .nav-item:hover
    background-color: $red

  .nav-link
    padding-left: 16px !important

  .dropdown-menu
    border: $red solid 3px
    border-radius: 0px
    margin: 0

  .dropdown > a.show
    background-color: $red
    color: $white

  .dropdown-item:hover
    background-color: $red

  .navbar-toggler
    margin: 8px 0px

  .menu-wrapper .dropdown-menu
    right: 0
    left: auto

  .link
    text-overflow: ellipsis
    overflow: hidden

// ******************************************************************
   Sprite overrides

.sprite-eye
  display: none

.sprite-logo-background
  max-width: 100%

.sprite-twitter
  background-color: #FFF
  background-position: -543px 0
  border-radius: 50%
  height: 22px
  margin-bottom: 4px
  width: 22px
