
.sprite-bubble
  display: inline-block
  margin-top: calc($gutter / 2)
  margin-bottom: calc($gutter / 2)
  margin-left: calc(20px + $gutter * 2)
  margin-right: calc($gutter / 2)

.site-name, .site-slogan
  margin: 0
  text-align: center
  width: 100%

.site-name
  font-size: 100%
  margin-top: calc($gutter / 2)

.site-slogan
  font-size: 50%
