@import _grid.sass
@import _colors.sass

body
  overflow-x: hidden

  details

    font-style: italic

    summary

      display: list-item inline
      cursor: help
      font-style: normal
      font-weight: bold
      text-decoration: underline

#content, #footer

  img
    max-width: 100%

// prevent overflowing content from adding margins on mobile
#content
  word-wrap: break-word

aside

  section
    margin-bottom: calc(3 * $gutter)

  ul
    padding: 0

  li
    list-style-type: none
    margin-top: 12px


.overview-block

  background-color: $green
  margin-bottom: $gutter
  padding: calc($gutter / 4) $gutter

  ul
    padding: 0

  li
    list-style-type: none
    margin: calc($gutter / 2) 0
