
// General modal styles

.modal-body
  padding: 0 !important

.modal-header
  border: 0
  padding: calc($gutter / 2) calc($gutter / 2) 0 0

.modal-footer
  border: 0
  padding: 0 calc($gutter / 2) calc($gutter / 2) 0
