@import _grid.sass

.tool-metadata
  ul
    padding: 0

  li
    list-style-type: none
    margin: calc($gutter / 2) 0

  .link
    display: inline-block
    background-color: #ffffff
    border-radius: calc($gutter / 2)
    margin-bottom: $gutter
    padding: 1px 6px
    text-decoration: none
    text-transform: uppercase

  .requirement
    display: inline-block

  a
    text-decoration: none
