// en es fr id pt ru tr vi
@use '@fontsource-variable/noto-sans/scss/mixins' as NotoSans
@use '@fontsource-variable/noto-serif/scss/mixins' as NotoSerif
// ar fa ps
@use '@fontsource-variable/noto-sans-arabic/scss/mixins' as NotoSansArabic
@use '@fontsource-variable/noto-naskh-arabic/scss/mixins' as NotoNaskhArabic
// bo
// XXX: No sans font for Tibetan
@use '@fontsource-variable/noto-serif-tibetan/scss/mixins' as NotoSerifTibetan
// hi
@use '@fontsource-variable/noto-sans-devanagari/scss/mixins' as NotoSansDevanagari
@use '@fontsource-variable/noto-serif-devanagari/scss/mixins' as NotoSerifDevanagari
// my
@use '@fontsource/noto-sans-myanmar/scss/mixins' as NotoSansMyanmar
@use '@fontsource/noto-serif-myanmar/scss/mixins' as NotoSerifMyanmar
// th
@use '@fontsource-variable/noto-sans-thai/scss/mixins' as NotoSansThai
@use '@fontsource-variable/noto-serif-thai/scss/mixins' as NotoSerifThai
// zh
@use '@fontsource-variable/noto-sans-sc/scss/mixins' as NotoSansSC
@use '@fontsource/noto-serif-sc/scss/mixins' as NotoSerifSC
// zh_hk
@use '@fontsource-variable/noto-sans-hk/scss/mixins' as NotoSansHK
@use '@fontsource-variable/noto-serif-hk/scss/mixins' as NotoSerifHK
@use '@fontsource-variable/noto-sans-tc/scss/mixins' as NotoSansTC
@use '@fontsource/noto-serif-tc/scss/mixins' as NotoSerifTC

@import 'paths'
@include NotoSans.faces($directory: $fonts, $subsets: all)
@include NotoSerif.faces($directory: $fonts, $subsets: all)
@include NotoNaskhArabic.faces($directory: $fonts, $subsets: ('arabic'))
@include NotoSansArabic.faces($directory: $fonts, $subsets: ('arabic'))
@include NotoSerifTibetan.faces($directory: $fonts, $subsets: ('tibetan'))
@include NotoSansDevanagari.faces($directory: $fonts, $subsets: ('devanagari'))
@include NotoSerifDevanagari.faces($directory: $fonts, $subsets: ('devanagari'))
@include NotoSansMyanmar.faces($directory: $fonts, $subsets: ('myanmar'))
@include NotoSerifMyanmar.faces($directory: $fonts, $subsets: ('myanmar'))
@include NotoSansThai.faces($directory: $fonts, $subsets: ('thai'))
@include NotoSerifThai.faces($directory: $fonts, $subsets: ('thai'))
// These fonts have a bug which prevents selecting a non-numeric subset.
// https://github.com/fontsource/fontsource/issues/949
@include NotoSansSC.faces($directory: $fonts, $subsets: all)
@include NotoSerifSC.faces($directory: $fonts, $subsets: all)
@include NotoSansHK.faces($directory: $fonts, $subsets: all)
@include NotoSerifHK.faces($directory: $fonts, $subsets: all)
@include NotoSansTC.faces($directory: $fonts, $subsets: all)
@include NotoSerifTC.faces($directory: $fonts, $subsets: all)

body, .site-name
  color: #000
  font-family: 'Noto Sans Variable', 'Noto Sans Arabic Variable', 'Noto Serif Tibetan Variable', 'Noto Sans Devanagari Variable', 'Noto Sans Myanmar', 'Noto Sans Thai Variable', 'Noto Sans SC Variable', 'Noto Sans HK Variable', 'Noto Sans TC Variable', sans-serif
  font-size: 18px

h1, h2, h3, h4, h5, h6
  font-family: 'Noto Serif Variable', 'Noto Naskh Arabic Variable', 'Noto Serif Tibetan Variable', 'Noto Serif Devanagari Variable', 'Noto Serif Myanmar', 'Noto Serif Thai Variable', 'Noto Serif SC', 'Noto Serif HK Variable', 'Noto Serif TC', serif
  font-weight: normal
  text-transform: uppercase
  margin-top: 1.2rem
  margin-bottom: 1.2rem
h1
  font-size: 140%
h1 a, h2 a
  text-decoration: none
  text-transform: none
h2
  font-size: 130%
h3
  font-size: 125%
h4
  font-size: 120%
h5
  font-size: 115%

h2.noupper
  text-transform: none

a, a:visited, a:hover
  color: #000
  text-decoration: underline


// *************************************************************************
   AnchorJS styles

.anchorjs-link
  transition: all .25s linear

.anchorjs-link:hover
  text-decoration: none

*:hover > .anchorjs-link
  margin-left: -1.125em !important
