@import ../all/_grid.sass

.sprite-eye
  display: inline-block
  margin: 0 2*$gutter

#content
  padding: 0


.overview-block
  ul
    -webkit-columns: 1
    -moz-columns: 1
    columns: 1

    -webkit-column-gap: $gutter
    -moz-column-gap: $gutter
    column-gap: $gutter

  li
    -webkit-column-break-inside: avoid
    page-break-inside: avoid
    break-inside: avoid


.tool-metadata
    ul
      -webkit-columns: 3
      -moz-columns: 3
      columns: 3

      -webkit-column-gap: $gutter
      -moz-column-gap: $gutter
      column-gap: $gutter
