@import ../all/_colors.sass
@import ../all/_grid.sass

body
  // font size for small screens
  font-size: 19px

.table-wrapper
  overflow-x: auto

// ***********************************************************
   Footer navigation

#footer
  .col-md-9
    padding: calc($gutter / 2) 0

#footer-nav
  padding: 0
  li
    margin-left: 0
    text-align: left
    width: 100%
