
include mixins-and-helpers.pug

//- Blog breadcrumbs

if (type=='blog')
  ul.breadcrumbs
    li
      a(href=prefix + '/' + locale)= __('Home')
    li
      a(href=prefix + '/' + locale + '/blog')= __('Blog')


//- Tactics guide breadcrumbs

if (type=='tactic')
  if (topic=='passwords' || topic=='communication' || topic=='phones-and-computers' || topic=='internet-connection' || topic=='files')
    if (locale)
      ul.breadcrumbs
        li
          a(href=prefix + '/' + locale)= __('Home')
        li
          a(href=prefix + '/' + locale + '/' + topic)= get_topic_name(topic)
