footer#footer
  .container
    .row

      .col-lg-3
        include _logo.pug

      .col-lg-9
        include _footer-nav.pug

    .row
      .col-lg-12
        .sprite.sprite-creative-commons.inline
        p.inline= __('This work is licensed under a')+" "
          a(target="_blank", href="http://creativecommons.org/licenses/by-sa/3.0/") Creative Commons Attribution-Share Alike 3.0 Unported License.

    .row
      .col-lg-12
        p= __('Security-in-a-Box is a project of')+" "
          a(target="_blank", href="https://www.frontlinedefenders.org/") Front Line Defenders

      .col-lg-12
        .sprite.sprite-frontline-defenders-logo

  span#scroll-top &uarr;
