
ul#footer-nav
  li
    a(href=prefix + '/' + locale + '/disclaimer')= __('Disclaimer')
  li
    a(href=prefix + '/' + locale + '/data-use-policy')= __('Data Use Policy')
  li
    a(href='https://twitter.com/FrontLineHRD')= __('Twitter')
  li
    a(href=prefix + '/' + locale + '/blog')= __('Blog')
