- var my_title
if title
  - my_title = title
else 
  if site_name
    - my_title = site_name

if my_title
  title= my_title
  meta(name="description", content=my_title)
  meta(name="author", content="Front Line Defenders")

  meta(property="og:title", content=my_title)
  meta(name="og:description", content=my_title)

  meta(name="twitter:card", content=my_title)

if twitter
  meta(content=twitter, name="twitter:site")
  meta(content=twitter, name="twitter:creator")

if site_url
  meta(content=site_url, property="og:url")
  meta(content=site_url, name="twitter:url")

if canonical
  link(rel="canonical", href=canonical)

if site_url
  meta(content=site_url + prefix + '/assets/images/' + "siab-og-image.png", property="og:image")

meta(charset="utf-8")
meta(content="IE=edge", http-equiv="X-UA-Compatible")
meta(name="viewport", content="width=device-width, initial-scale=1.0")

link(rel='icon', type='image/png', href=prefix + '/assets/images/favicon.ico')
