// Trigger for TOC modal
button#toc-modal-trigger.btn(type="button" data-bs-toggle="modal" data-bs-target="#toc-modal")
  span.visually-hidden __('Table of Contents')
  span.icon-bar
  span.icon-bar
  span.icon-bar

// TOC modal
#toc-modal.modal.modal-lg.fade(role="dialog")
  .modal-dialog
    .modal-content
      .modal-header
        button(type="button" class="btn-close" data-bs-dismiss="modal")
      .modal-body
        // TOC gets appended here using JQuery
      .modal-footer
        button(type="button" class="btn btn-default" data-bs-dismiss="modal")= __('Close')
