.tool-metadata
  .preprocess-wrapper
    if (logo && website)
      ul
        li
          a(href=website)
            img(src=logo alt=__('Project website'))
    if website
      li
        a.link(href=website) #{__('Project website')}
    if download_links
      each item in download_links
        if item.label == 'Download link'
          li
            a.link(href=item.url) #{__('Download link')}
        else
          li
            a.link(href=item.url) #{item.label}
    if version
      li.requirement #[strong #{__('Version')}]: #{version}
    if license
      li.requirement #[strong #{__('License')}]: #{__(license)}
    if system_requirements
      li #[strong #{__('System requirements')}]:
      each item in system_requirements
        li.requirement #{item}
