-
  const lang_map = Object.fromEntries(
    Object.entries(locales).map(([locale, info]) => [locale, info.language])
  )

include mixins-and-helpers.pug

nav#top-nav.navbar.navbar-expand-lg.m-lg-0
  .container
    //- Burger menu
    div.navbar-brand
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#menu-site" aria-controls="menu-site" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    .collapse.navbar-collapse(id="menu-site")
      .menu-main
        ul.navbar-nav
          each topic in ['passwords', 'communication', 'phones-and-computers', 'internet-connection', 'files']
            +get_menu(locale, 'topic', topic, get_topic_name(topic))

      .menu-wrapper
        ul.navbar-nav
          +get_menu(locale, 'topic', 'about', get_topic_name('about'))
          +get_lang_switcher(locale, dst_file, lang_map, [])
