-
  const lang_map = Object.fromEntries(
    Object.entries(locales).map(([locale, info]) => [locale, info.language])
  )

include mixins-and-helpers.pug

nav#top-nav.navbar.navbar-expand-lg.m-lg-0
  .container
    //- Burger menu
    div.navbar-brand
    button.navbar-toggler(type="button" data-bs-toggle="collapse" data-bs-target="#menu-site" aria-controls="menu-site" aria-expanded="false" aria-label="Toggle navigation")
      span.navbar-toggler-icon

    .collapse.navbar-collapse(id="menu-site")
      .menu-main
        ul.navbar-nav
          +get_menu(locale, 'topic', 'passwords', __('Passwords'))
          +get_menu(locale, 'topic', 'communication', __('Communication'))
          +get_menu(locale, 'topic', 'phones-and-computers', __('Phones & Computers'))
          +get_menu(locale, 'topic', 'internet-connection', __('Internet Connection'))
          +get_menu(locale, 'topic', 'files', __('Files'))

      .menu-wrapper
        ul.navbar-nav
          +get_menu(locale, 'topic', 'about', __('About'))
          +get_lang_switcher(locale, dst_file, lang_map, [])
