-
  const locale_info = locales?.[locale]
  if (locale_info) {
    language = locale_info.language
    script_direction = locale_info.script_direction
  }

include mixins-and-helpers.pug

doctype html

html(lang=(locale) ? locale : "")

  head
    include _meta.pug

    link(href=prefix + '/assets/css/bootstrap.css', rel="stylesheet")
    link(href=prefix + '/assets/css/global.css', rel="stylesheet")

    //- Styles for right-to-left languages
    - if (script_direction=="rtl")
      link(href=prefix + '/assets/css/rtl.css', rel="stylesheet")

    //- Styles and scripts for Internet Explorer < 8
    <!--[if lt IE 9]>
    link(href=prefix + '/assets/css/ie.css', rel='stylesheet')
    script(src=prefix + '/assets/js/vendor/html5shiv.min.js', type='text/javascript')
    script(src=prefix + '/assets/js/vendor/respond.min.js', type='text/javascript')
    <![endif]-->

    //- Fix bootstrap if JS is disabled

    noscript
      link(href=prefix + '/assets/css/bootstrap-no-js.css', rel="stylesheet")

  //- Add data type and script_direction to body if the metalsmith variables are set
  - var classes=''
  if type
    - classes=type
  if script_direction
    - classes=classes+' '+script_direction

  body(class=classes)

    include _header.pug
    include _top-nav.pug
    if (type=='tools' || type=='tactics')
      include _toc-modal.pug

    .container
      .row
        block content
          != contents

    include _footer.pug

    //- defer script loading until everything else has loaded
    script.
      function downloadJSAtOnload() {
        var element = document.createElement("script");
        element.src = "#{prefix}/assets/js/all-scripts.js";
        document.body.appendChild(element);
      }
      if (window.addEventListener) window.addEventListener("load", downloadJSAtOnload, false);
      else if (window.attachEvent) window.attachEvent("onload", downloadJSAtOnload);
      else window.onload = downloadJSAtOnload;
