block topic_strings
  -
    function get_topic_name(topic) {
      return {
        'about': __('About'),
        'communication': __('Communication'),
        'files': __('Files'),
        'internet-connection': __('Internet Connection'),
        'passwords': __('Passwords'),
        'phones-and-computers': __('Phones & Computers'),
      }[topic];
    }

    function get_topic_title(topic) {
      return {
        'about': __('About'),
        'passwords': __('Your Passwords'),
        'communication': __('Your Communication'),
        'phones-and-computers': __('Your Phones & Computers'),
        'internet-connection': __('Your Internet Connection'),
        'files': __('Your Files'),
      }[topic];
    }

    function get_topic_overview_title(topic) {
      return {
        'about': __('About'),
        'communication': __('Protect Your Communication'),
        'files': __('Protect Your Files'),
        'internet-connection': __('Protect Your Internet Connection'),
        'passwords': __('Protect Your Passwords'),
        'phones-and-computers': __('Protect Your Phones & Computers'),
      }[topic];
    }

block helper_functions
  -
    // De/capitalize first letter of string.
    function capitalize(s) {
      return s && s[0].toUpperCase() + s.slice(1);
    }
    function decapitalize(s) {
      return s && s[0].toLowerCase() + s.slice(1);
    }

  -
    // Find the "slug" for a filename: remove the locale prefix, and a trailing
    // index.* component.
    function get_page_slug(filename, locale) {
      // Split filename, discarding trailing, leading, and double slashes.
      const components = filename.split(libs.path.sep)
        .filter(comp => comp.length > 0);
      if (components.length == 0) {
        return '';
      }
      // `index.*` is not part of the slug.
      if (components[components.length - 1].startsWith('index.')) {
        components.pop();
      }
      if (components[0] != locale) {
        throw new Error(
          `filename does not include language prefix '${locale}': ${filename}`);
      }
      components.shift();
      return components.join(libs.path.sep);
    }

mixin get_menu(locale, filter_type, filter_value, filter_name, css_class)

  //-
    Returns menu markup with all items in the collection "menu" filtered by arguments.
    The filter_name value is used as the menu parent. The items are included in a dropdown.

    Arguments:
    locale - Filter by the current language (e.g. 'en', 'es' or 'ar')
    filter_type - The filter to apply (options include 'type', 'os' or 'topic')
    filter_value - The filter value (e.g. 'tactics', 'linux' or 'phones-and-computers')
    filter_name (optional) - A display-ready version of the filter value (e.g. 'Tactics', 'Linux' or 'Phones & Computers')
    css_class (optional) - Additional class for styling

    Examples:
    +get_menu('type', 'tools', 'Tools') // All items where "type" is set to "tools"
    +get_menu('os', 'linux', 'Linux') // All items where the "os" is "linux"
    +get_menu('topic', 'phones-and-computers', 'Phones & Computers') // All items with the specified "topic"

    Dependencies:
    1. Uses Bootstrap markup and styles
    2. You need to add the metalsmith-collections plugin
       https://github.com/segmentio/metalsmith-collections
       to your configuration file and include 'collection: menu' in the
       metadata of all referenced content

  if menu && filter_value

    - filter_value      = decapitalize(filter_value)
    - filter_value_cap  = capitalize(filter_value)
    - items = []

    //-
        Iterate over the menu collection, filter for the elements we want and
        add item path and title to items array

    each item in menu
      if (item.locale == locale && item.title)
        - var status = ''
        case item.status
          when "unmaintained"
            - status = __('[Unmaintained] ')
          when "out-of-date"
            - status = __('[Out-of-date] ')
          default
            - status = ''
        - var title
        if item.title_in_menu
          - title = item.title_in_menu
        else if item.title == 'Related Tools'
          - title = __('Related Tools')
        else
          - title = item.title
        - var print_in_menu=false
        case filter_type
          when 'type'
            if item.type==filter_value
              - print_in_menu=true
          when 'os'
            if item.os==filter_value
              - print_in_menu=true
          when 'topic'
            if item.topic==filter_value
             - print_in_menu=true
        if print_in_menu
          -
            const slug = get_page_slug(item.src_file, locale);
            const href = `${prefix}/${locale}/${slug}`;
            items.push([href, title, status])

    //- generate markup for the values in items
    if (items.length > 0)
      li(class=(css_class)? css_class + " nav-item dropdown" : "nav-item dropdown")
        if filter_name
          - display_menu =filter_name
        else
          - display_menu =__(filter_value_cap)
        if display_menu == 'Ios'
          a.nav-link.dropdown-toggle(href="#", id=display_menu, data-bs-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= 'iOS'
        else
          a.nav-link.dropdown-toggle(href="#", id=display_menu, data-bs-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false")= display_menu
        ul.dropdown-menu(aria-labelledby=display_menu)
          each val in items
            li
              a.dropdown-item.link(href=val[0]) #[span.unmaintainedalert #{val[2]}] #{val[1]}

mixin get_list_as_block(locale, filter_type, filter_value, filter_name)

  //-
    Same as get_menu but returns a list in a block. Doesn't use Bootstrap markup unlike get_menu.

    Arguments:
    locale - Filter by the current language (e.g. 'en', 'es' or 'ar')
    filter_type - The filter to apply (options include 'type', 'os' or 'topic')
    filter_value - The filter value (e.g. 'tactics', 'linux' or 'phones-and-computers')
    filter_name (optional) - A display-ready version of the filter value (e.g. 'Tactics', 'Linux' or 'Phones & Computers')
    css_class (optional) - Additional class for styling

    See metalsmith-collections plugin config for "menu" collection

  if menu && filter_value

    - filter_value      = decapitalize(filter_value)
    - filter_value_cap  = capitalize(filter_value)
    - items = []

    //-
        Iterate over the menu collection and filter those elements we want and
        add item path and title to items array

    each item in menu
      if (item.locale == locale && item.title)
        - var status = ''
        case item.status
          when "unmaintained"
            - status = __('[Unmaintained] ')
          when "out-of-date"
            - status = __('[Out-of-date] ')
          default
            - status = ''
        - var title
        if item.title == 'Related Tools'
          - title = __('Related Tools')
        else
          - title = item.title
        - var print_in_menu=false
        case filter_type
          when 'type'
            if item.type==filter_value
              - print_in_menu=true
          when 'os'
            if item.os==filter_value
              - print_in_menu=true
          when 'topic'
            if item.topic==filter_value
              - print_in_menu=true
        if print_in_menu
          -
            const slug = get_page_slug(item.src_file, locale);
            const href = `${prefix}/${locale}/${slug}`;
            items.push([href, title, status])

    //- generate markup for the values in items
    if (items.length > 0)
      section.overview-block

        if filter_name
          - display_heading =filter_name
        else
          - display_heading =__(filter_value_cap)
        if display_heading=='Ios'
          h2.noupper= 'iOS'
        else
          h2= display_heading
        ul
          each val in items
            li
              a.link(href=val[0]) #[span.unmaintainedalert #{val[2]}] #{val[1]}

mixin get_lang_switcher(cur_lang, cur_file, languages, unmaintainedlanguages)

  //-
    Returns the language switcher menu.

    Arguments:
    cur_lang - The ISO code of the language of the current content (e.g. 'en', 'fr' or 'ar'). Defaults to 'en'
    cur_file - The source filename of the page being rendered.
    languages - Object with all the languages that should be used in the language switcher.
                Should be in the format below:
                {am: 'አማርኛ', ar: 'العربية', id: 'Bahasa'}

    Dependencies:
    1. Uses Bootstrap markup and styles

  -
    cur_lang ||= 'en'
    cur_file ||= `${cur_lang}/index.html`

    const slug = get_page_slug(cur_file, cur_lang);

  li.nav-item.dropdown
    a.nav-link.dropdown-toggle(
      href="#", id="lang", data-bs-toggle="dropdown",
      role="button", aria-haspopup="true",
      aria-expanded="false",
    )= languages[cur_lang]
      span.caret
    ul.dropdown-menu(aria-labelledby="lang")
      each lang_name, lang in languages
        - const href = `${prefix}/${lang}/${slug}`;
        if unmaintainedlanguages.indexOf(lang)!=-1
          li
            a.dropdown-item.link(href=href)
              span.unmaintainedalert= __('[Unmaintained] ')
              = lang_name
        else
          li
            a.dropdown-item.link(href=href)
              = lang_name
