extends ../main.pug
include ../mixins-and-helpers.pug

block content
  .col-lg-8

    main#content

      h1= title

      header
        != contents

      -
        const posts = blog.filter((post) =>
            post.title && post.author && post.teaser_image &&
            post.post_date && post.locale == locale)

      each post in posts
        section
          -
            const postDir = libs.path.resolve(
              '/', prefix, libs.path.dirname(post.src_file));
            const thisDir = libs.path.resolve(
              '/', prefix, libs.path.dirname(src_file));
            const imgPath = libs.path.relative(
              thisDir, libs.path.resolve(postDir, post.teaser_image));
          h2
            a(href=postDir)= post.title
          p.posted= __('By')
            span #{post.author + ' | '}
            span #{post.post_date}
          a(href=postDir)
            img(src=imgPath)
          p.teaser= post.teaser
          p
            a(href=postDir).read-more= __('Read more')

  .col-lg-4
