extends ../main.pug

block content 
  .col-lg-8
    main#content
      include ../_breadcrumbs.pug

      h1= title
      if author
        p.author= __('By')
          span #{author}
      if post_date
        p.posted= __('Posted')
          span #{post_date}
      != contents

  .col-lg-4
