extends ../main.pug
include ../mixins-and-helpers.pug

block content

  .col-lg-8
    main#content
      h1= title
      case status
        when "draft": h2.unmaintainedalert= __('This guide is a work in progress')
        when "unmaintained": h2.unmaintainedalert= __('This guide is no longer being maintained')
        when "out-of-date": h2.unmaintainedalert= __('This guide is out-of-date')

      != contents

    each topic in ['passwords', 'communication', 'phones-and-computers', 'internet-connection', 'files']
      +get_list_as_block(locale, 'topic', topic, get_topic_title(topic))

  aside.col-lg-4
    section
      h2
        a.blog-heading(href=`${prefix}/${locale}/blog`)= __('Blog posts')

      -
        const posts = blog.filter((post) =>
            post.title && post.author && post.teaser_image &&
            post.post_date && post.locale == locale)

      ul
        each post in posts.slice(0,4)
          li.post
            -
              const postDir = libs.path.resolve(
                '/', prefix, libs.path.dirname(post.src_file));
              const thisDir = libs.path.resolve(
                '/', prefix, libs.path.dirname(src_file));
              const imgPath = libs.path.relative(
                thisDir, libs.path.resolve(postDir, post.teaser_image));
            a(href=postDir)
              img.thumbnail(src=imgPath, style='max-width: 100%')
            p.posted=__('By')
              span #{post.author + ' | '}
              span #{post.post_date}
            a.title(href=postDir)= post.title
