extends ../main.pug

block content
  .col-lg-12
    main#content
      include ../_breadcrumbs.pug

      h1.title= title
      if subtitle
        h3.title= subtitle
      if post_date
        p.posted= __('Updated') + ' '
          span= post_date
      case status
        when "draft": h2.unmaintainedalert= __('This guide is a work in progress')
        when "unmaintained": h2.unmaintainedalert= __('This guide is no longer being maintained')
        when "out-of-date": h2.unmaintainedalert= __('This guide is out-of-date')
        default
          //- Toc is inserted using jquery
          #toc.toc-invisible
            h2= __('Table of Contents')
            span.loading-element= __('...Loading Table of Contents...')
            != "<ul></ul>"
      if type == 'tools'
        include ../_tool-metadata.pug
      != contents
